* {
    margin: 0;
}

body {
    background-color: #fff;
    overflow: hidden;
}

/*-----------------------------------------------------
               Front Nav Area Css Styling
-----------------------------------------------------*/
.front_nav_Area {
    width: 100%;
    height: 10vh;
}

.SK2 {
    margin-top: 7px;
    margin-left: 7px;
    width: 12%;
    height: 10%;
    background-image: url('/res/sk2logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

#right {
    margin-top: 2%;
    width: 42%;
    float: right;
}

.inputbox {
    margin-left: 3px;
    margin-right: 15px;
}

.EMAIL {
    width: 52px;
    height: 11px;
    font-family: Helvetica;
    font-size: 15.5px;
    font-weight: 900;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.PASSWORD {
    width: 95px;
    height: 12px;
    font-family: Helvetica;
    font-size: 15.5px;
    font-weight: 900;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.Reddot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.3s;
}

.Reddot:hover {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/*-----------------------------------------------------
               Center Section Css Styling
-----------------------------------------------------*/
.Center_Section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.SideMenu {
    width: 40px;
    height: 80px;
    float: left;
    position: fixed;
    top: 45vh;
    background-color: red;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
}
/*
.sidedetails{
    background: #fff000;
    height:100px;
    width:100px;
    border-radius: 50%;
    position: absolute;
    transform: scale(3);
    top:43vh;
    left:-3%;
    margin:auto;
    z-index: -1;
    transition: 0.7s;
}

.sidedetails a{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    transition:0.4s;
}

.sidedetails a{
    font-family: helvetica95;
    color:#000;
    font-style: italic;
    font-size:12px;
}

.sidedetails a:nth-child(1){
    top:10px;
}

.sidedetails a:nth-child(2){
    top:17px;
}

.sidedetails a:nth-child(3){
    
}
*/

.bkgImage {
    width: 100vw;
    height: 80vh;
    background-image: url('/res/main_background.png');
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------------------------------------------
                   end_Area Css Styling
-----------------------------------------------------*/
end_Area {
    margin-bottom: 10px;
}

.MENU {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 900;
    font-style: bold oblique;
    color: #000000;
    padding: 10px;
    margin: 2%;
}

.MENU:hover {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 900;
    font-style: bold oblique;
    color: #ff0000;
}

input.email {
    background-color: #ffffff;
    visibility: hidden;
}

#lower_Menu {
    left: 30vw;
    right: 25vw;
    display: inline-flex contents;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    letter-spacing: 40px;
    text-align: center;
    float: center;
}
