/*--- Base property in this file Css styling ---*/
* {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*=================================================
            --- frontarea Css styling ---
=================================================*/
.frontarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.MainLogo {
    margin-left: 23px;
    width: 126px;
    height: 93px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #000000;
}

.MainLogo-explain {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 6px;
    text-align: left;
    color: #000000;
}

.Topmenu {
    position: fixed;
    top: 4.5vh;
    left: 30vw;
    right: 25vw;
    display: inline-flex contents;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    letter-spacing: 40px;
    text-align: center;
}

.Topmenu a {
    color: black;
    text-decoration: none;
}

.Topmenu a:hover {
    color: red;
}

.Reddot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    right: 10px;
    top: 10px;
}

/*=================================================
            --- middlearea Css styling ---
=================================================*/
.middlearea {
    width: 100vw;
    height: 80vh;
    background-color: gray;
}

.DropdownMenu {
    margin-left: 90px;
}

.classify-dot-L {
    width: 10px;
    height: 21px;
    top: 7px;
    position: relative;
    border-radius: 40%;
    display: inline-flex;
    background-color: red;
}

.classify-dot-A {
    width: 10px;
    height: 21px;
    top: 7px;
    position: relative;
    border-radius: 40%;
    display: inline-flex;
    background-color: red;
}


/*============================================*/
/*----- langs area -----*/
.langs {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content-langs {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-langs a {
    color: #000;
    display: block;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
}

.langs:hover .dropdown-content-langs {
    display: block;
}

.dropdown-content-langs a:hover {
    background-color: #f1f1f1
}

.langs:hover .dropbtn {
    background-color: #EAEAEA;
}

/*============================================*/
/*----- function area -----*/
.function {
    margin-left: 130px;
    position: relative;
    display: inline-block;
}

.activebtn {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content-active {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-active a {
    color: #000;
    display: block;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
}

.dropdown-content-active a:hover {
    background-color: #f1f1f1
}

.function:hover .dropdown-content-active {
    display: block;
}

.function:hover .activebtn {
    background-color: #EAEAEA;
}

/*==============================================*/
/*==============================================
     --------- Contents Css Styling ---------
==============================================*/
.uIA-bar{
    margin-left:80px;
    width: 9px;
    height: 390px;
    top: 10px;
    position: relative;
    border-radius: 4.5px;
    display: inline-flex;
    background-color: red;
}

.cRA-bar{
    margin-left:80px;
    width: 9px;
    height: 390px;
    top: 10px;
    left:100px;
    position:absolute;
    border-radius: 4.5px;
    float:left;
    background-color: red;
}
